<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Logged In as {{ user.username }}</p>
        <form action="{% url 'logoutuser' %}" method="POST">
            {% csrf_token %}
        <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'signupuser' %}">Sign Up</a>
        <a href="{% url 'loginuser' %}">Login</a>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>