{% extends 'todo/base.html' %}

{% block content %}
    <p>Completed Todos</p>
    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url 'viewtodo' todo.id %}">
                    {% if todo.important %}
                        <b>{{ todo.title }}</b>
                    {% else %}
                        {{ todo.title }}
                    {% endif %}

                    {% if todo.description %}
                         - {{ todo.description }}
                    {% endif %}
                    {{ todo.completion_date_time|date:'M j Y H:i' }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
